<ion-header>
    <ion-toolbar color="danger" >
        <ion-title text-center>My List of stories</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list>
        <ion-item *ngFor="let story of stories" 
                  [routerLink]="['/stories',story.id]">

            <ion-avatar slot="start">
                <ion-img  [src]="story.imgURL"></ion-img>
            </ion-avatar>
            <ion-label>
                {{story.title}}</ion-label>
        </ion-item>
    </ion-list>
</ion-content>